In [2]:
import pandas as pd
import matplotlib.pyplot as plt

bad_card = pd.read_csv("./data/bad_card.csv")
soso_card = pd.read_csv("./data/soso_card.csv")

In [16]:
bad_rows = len(bad_card.index)
soso_rows = len(soso_card.index)

In [17]:
total = bad_rows +  soso_rows

In [20]:
result = {}
result['total'] = total
result['bad_dust'] = bad_rows
result['soso_dust'] = soso_rows

In [21]:
result

{'total': 1998575, 'bad_dust': 948118, 'soso_dust': 1050457}

In [5]:
bad_card_F = bad_card[bad_card.SEX_CD == 'F']
bad_card_M = bad_card[bad_card.SEX_CD == 'M']
soso_card_F = soso_card[soso_card.SEX_CD == 'F']
soso_card_F = soso_card[soso_card.SEX_CD == 'M']

In [6]:
bad_rows = len(bad_card.index)

    Unnamed: 0  MCT_CAT_CD SEX_CD  AGE_CD  USE_CNT  USE_AMT
0            0          21      F      55        4       22
5            5          22      F      20        4       18
6            6          22      F      25        4      158
7            7          22      F      45        4       26
10          10          34      F      45        4      118
11          11          40      F      20      149     1545
12          12          40      F      25      140      811
13          13          40      F      30      140     1405
14          14          40      F      35      118      690
15          15          40      F      40      131     1081

In [ ]:
1. 여자 남자 구분하기 각각
   bad_girl, bad_boy, soso_girl, soso_boy
2. 각각 나이별로 나누기 = 20개 이상
3. 업종별로 나누기